.center-position {
    display: flex;
    justify-content: center;
}
.jumbo-image {
    position: relative;
}
#maptest {
    border: 1px solid silver;
    border-radius: 4px;
    position: absolute;
    bottom: 0;
    right: 0;
    overflow: hidden;
    height: 220px;
    width: 300px;
    margin: 0 -15px -15px 0px;
}
#mapwrap {
    border: 1px solid silver;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    height: 220px;
    width: 450px;
    margin: 0 15px 15px 15px;
}
.overlay {
    background: rgba(255,255,255,.6);
    padding: 14px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.address {
    font-weight: 600;
}
#logo-img {
    background: url('../files/jumbotron.png') no-repeat center;
    background-size: 120% 120%;
    width: 200px;
    height: 100px;
}
.media {
    border-top: 1px solid silver;
    margin-bottom: 15px;
}
